{% extends "layout.html" %}
{% block body  %}
    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center">SKIN TONE DETECTOR APPLICATION</h1>
        <h2 class="lead" style="text-align: center"> DETECT SKIN TONE OF A PERSON IN TERMS OF FAIR,MILD & BLACK</h2>
        <hr class="my-4">
        <strong>
            <h3 style="text-align: center">DO NOT USE IMAGES WITH BACKGROUND OR CLOTH OF SKIN COLOR.CLICK BELOW TO UPLOAD IMAGE</h3>
            <br>
            <br>
            <p style="text-align: center">YOU CAN CONTACT US BY CLICKING CONTACT BUTTON ON NAVBAR AND WRITE YOUR QUERY THERE WE WILL REVERT BACK</p>
            <br>
            <br>
            <h3 style="text-align: center">CLICK THE BUTTON BELOW TO USE THE APLLICATION</h3>
        <div class="text-center">
        <a class="btn btn-primary btn-lg" href="/img" role="button" style="background-color: red">DETECTOR</a>
        </div>
    </div>
{% endblock %}