{% extends "layout.html" %}
{% block body %} 
    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center">SORRY!!!</h1>
        <hr class="my-4">
        <strong>
            <h2 style="text-align: center">{{upload}}</h2>
            <br>
            <br>
            <p style="text-align: center"> IF PROBLEM STILL PERSISTS YOU CAN CONTACT US BY CLICKING CONTACT BUTTON ON NAVBAR AND WRITE YOUR QUERY THERE WE WILL REVERT BACK</p>
            <br>
            <br>
            <h3 style="text-align: center">CLICK THE BUTTON BELOW TO USE THE APLLICATION AGAIN</h3>
        <div class="text-center">
        <a class="btn btn-primary btn-lg" href="/img" role="button" style="background-color: red">TRY AGAIN</a>
        </div>
    </div>
{% endblock %}